.App {
  text-align: center;
  min-height: 70vh;
  background-color: #453673;
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  color: #d1e0ff;
  height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  border-radius: 50%;
  margin: 1rem;
}

.App-header {
  background-color: #2d1f57;
  max-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.inline-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-input {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #2d1f57;
  cursor: pointer;
}

.magicians-gathering-selector-button {
  width: 180px;
  height: 80px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 25px;
  border: none;
  background-color: #571f1f;
  color: white;
  cursor: pointer;
}

.two-pieces-selector-button {
  width: 180px;
  height: 80px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 25px;
  border: none;
  background-color: #0047d8;
  color: white;
  cursor: pointer;
}

.poke-creatures-selector-button {
  width: 180px;
  height: 80px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 25px;
  border: none;
  background-color: #d80000;
  color: white;
  cursor: pointer;
}

.yu-gi-yay-selector-button {
  width: 180px;
  height: 80px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 25px;
  border: none;
  background-color: #ffd700;
  color: black;
  cursor: pointer;
}