.poke-creature-card {
    width: 750px;
    height: 1500px;
    padding: 6px;
    border: 2px solid #d1d1d1;
    border-radius: 2px;
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    position: relative;
    overflow: hidden;
}

.poke-creature-image-area {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 2px solid #d1d1d1;
    border-radius: 2px;
}

.poke-creature-image {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 2px;
}

.poke-creature-text-area {
    width: 100%;
    height: 30%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.poke-creature-title {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
    height: -50px;
}

.poke-creature-description {
    font-size: 1em;
    margin: 0 15px 10px 15px;
    text-align: center;
    height: -25px;
}